version: '3.8'  

services:
  chatbot:      
    container_name: mi-chatbot-rag
    build: .
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./chroma_langchain_db:/app/chroma_langchain_db
    restart: unless-stopped
